<div>
    <form th:attr="action=${object.id == null} ? ${url} + 'create' :  ${url} + ${object.id} +  '/update'"
          th:object="${object}" method="post">

        <input type="hidden" name="id" th:value="${object.id == null} ? 0 : ${object.id}" />

        <div class="form-group">
            <label for="name" ><b>Название</b></label>
            <input type="text" class="form-control" name="name" id="name" required th:value="${object.name}">
        </div>

        <div class="form-group">
            <label for="price"><b>Цена</b></label>
            <input type="number" class="form-control" name="price" id="price" required th:value="${object.price}">
        </div>

        <hr>
        <button type="submit" name="action" class="btn btn-primary">Сохранить</button>
    </form>
    <div th:if="${object.id != null}">
        <a class="btn btn-primary" role="button" th:href="@{${url} + ${object.id} +  '/remove'}">Удалить</a>
    </div>

</div>