<div class="row">
    <div class="col">
        <form th:attr="action=${orderEntity.id == null} ? ${url} + 'create' :  ${url} + ${orderEntity.id} +  '/edit'"
              th:object="${orderEntity}" method="post">

            <div th:insert="errors"></div>

            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{delivery}"/>
            <input type="hidden" th:field="*{goods}"/>
            <input type="hidden" th:field="*{calls}"/>
            <input type="hidden" th:field="*{costs}"/>
            <input type="hidden" th:field="*{events}"/>

            <h2 th:if="${orderEntity.id != null}" th:text="@{'Заказ '+ ${orderEntity.id}}"></h2>

            <H3>Основное</H3>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="status"><b>Статус</b></label>
                        <select name="status" class="form-control" id="status">
                            <option th:value="null">Не задан</option>
                            <option th:each="status : ${statuses}" th:value="${status.id}"
                                    th:text="${status.name}"
                                    th:selected="${orderEntity.status?.id == status.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label for="employee"><b>Менеджер</b></label>
                        <select name="employee" id="employee" class="form-control">
                            <option th:value="null">Не задан</option>
                            <option th:each="employee : ${employees}" th:value="${employee.id}"
                                    th:text="${employee.login}"
                                    th:selected="${orderEntity.employee?.id == employee.id}"></option>
                        </select>
                    </div>
                </div>
                <div class="row" th:if="${orderEntity.id != null}">
                    <div class="col">
                        <label for="time"><b>Время заказа</b></label>
                        <input type="datetime-local" class="form-control" readonly th:field="*{time}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="comment"><b>Комментарий к заказу</b></label>
                    <input type="text" class="form-control" name="comment" id="comment"
                           th:value="${orderEntity.comment}">
                </div>
            </div>

            <div class="row" th:if="${orderEntity.id == null}">
                <div class="col">
                    <label for="client"><b>Клиент</b></label>
                    <select name="client" id="client" class="form-control">
                        <option th:value="null">Не задан</option>
                        <option th:each="client : ${clients}" th:value="${client.id}"
                                th:text="@{${client.name} + ' ' + ${client.lastname}}"
                                th:selected="${orderEntity.client?.id == client.id}"></option>
                    </select>
                </div>
            </div>

            <div th:if="${orderEntity.id != null}">
                <hr>

                <input type="hidden" name="client.id"
                       th:value="${orderEntity.client?.id == null} ? 0 : ${orderEntity.client?.id}"/>

                <div class="row justify-content-between">
                    <div class="col-lg-2">
                        <H3>Клиент</H3>
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-primary" style="width: 100%" role="button"
                           th:href="@{'/clients/' + ${orderEntity.client.id} +  '/edit'}">Редактировать</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="client.name"><b>Имя</b></label>
                        <input type="text" class="form-control" name="client.name" id="client.name" readonly
                               th:value="${orderEntity.client.name}">
                    </div>
                    <div class="col">
                        <label for="client.lastname"><b>Фамилия</b></label>
                        <input type="text" class="form-control" name="client.lastname" id="client.lastname" readonly
                               th:value="${orderEntity.client.lastname}">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="client.phone"><b>Номер телефона</b></label> <a
                            th:href="@{'tel:' + ${orderEntity.client.phone}}">Позвонить</a>
                        <input type="text" class="form-control" name="client.phone" id="client.phone" readonly
                               th:value="${orderEntity.client.phone}">

                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="client.email"><b>Почта</b></label> <a
                            th:href="@{'mailto:' + ${orderEntity.client.email}}">Написать на почту</a>
                        <input type="text" class="form-control" name="client.email" id="client.email" readonly
                               th:value="${orderEntity.client.email}">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="client.birthday"><b>Дата рождения</b></label>
                        <input type="date" class="form-control" name="client.birthday" id="client.birthday" readonly
                               th:value="${orderEntity.client.birthday}">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="client.information"><b>Дополнительная информация</b></label>
                        <input type="text" class="form-control" name="client.information" id="client.information"
                               readonly
                               th:value="${orderEntity.client.information}">
                    </div>
                </div>

                <hr>
            </div>
            <div class="row">
                <H3>Состав заказа</H3>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#search">
                    Добавить товары
                </button>
            </div>
            <hr>


            <div class="modal fade" id="search" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Добавить в заказ товары</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <label for="site-search">По наименованию:</label>
                            <input type="search" id="site-search" name="q" th:value="${q}">
                            <button type="submit" name="search">Поиск</button>
                            <table class="table">
                                <tr>
                                    <td scope="col">Фото</td>
                                    <td scope="col">Категория</td>
                                    <td scope="col">Артикул</td>
                                    <td scope="col">Наименование</td>
                                    <td scope="col">Сумма</td>
                                    <td scope="col">Действие</td>
                                </tr>

                                <th:block th:each="good : ${selectGoods}">
                                    <tr class='clickable-row' th:data-href="@{/goods/{id}/edit (id = ${good.id})}">
                                        <th scope="row">
                                            <img th:src="${good.photo}" class="rounded">
                                        </th>
                                        <td th:text="${good.category?.name}"></td>
                                        <td th:text="${good.code}"></td>
                                        <td th:text="${good.name}"></td>
                                        <td th:text="${good.price}"></td>
                                        <td>
                                            <button type="submit" name="addGood" th:value="${good.id}">Добавить</button>
                                        </td>
                                    </tr>
                                </th:block>
                            </table>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>

            <table class="table">
                <tr>
                    <td scope="col">Фото</td>
                    <td scope="col">Категория</td>
                    <td scope="col">Артикул</td>
                    <td scope="col">Наименование</td>
                    <td scope="col">Сумма</td>
                    <td scope="col">Действие</td>
                </tr>

                <th:block th:each="good, i : *{goods}">
                    <tr class='clickable-row' th:data-href="@{/settings/goods/{id}/edit (id = ${good.id})}">
                        <th scope="row">
                            <img th:src="${good.photo}" class="img-thumbnail" width="100">
                        </th>
                        <td th:text="${good.category?.name}"></td>
                        <td th:text="${good.code}"></td>
                        <td th:text="${good.name}"></td>
                        <td th:text="${good.price}"></td>
                        <td>
                            <button type="submit" name="removeGood" th:value="${i.index}">Удалить</button>
                        </td>
                    </tr>
                </th:block>
            </table>

            <div th:if="${orderEntity.id != null}">
                <H3>Доставка</H3>
                <hr>
                <div th:if="${orderEntity.delivery == null}">
                    <a class="btn btn-primary" role="button"
                       th:href="@{'/deliveries/auto/create?orderId='+ ${orderEntity.id}}">Задать доставку</a>
                </div>

                <div th:unless="${orderEntity.delivery == null}">

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#address">
                        Изменить адрес доставки
                    </button>

                    <a class="btn btn-primary" role="button"
                       th:href="@{'/deliveries/' + ${orderEntity.delivery.id} + '/edit'}">Редактировать доставку</a>


                    <div class="row">
                        <div class="col">
                            <label><b>Тип</b></label>
                            <input type="text" class="form-control" th:value="${orderEntity.delivery.type.name}"
                                   disabled readonly>
                        </div>
                        <div class="col">
                            <label><b>Статус</b></label>
                            <input type="text" class="form-control" th:value="${orderEntity.delivery.status.name}"
                                   disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><b>Дата доставки</b></label>
                            <input type="date" class="form-control" th:field="*{delivery.date}" disabled readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><b>Адрес</b></label>
                            <input type="text" class="form-control" th:value="${orderEntity.delivery.address}" disabled
                                   readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><b>Дополнительная информация</b></label>
                            <input type="text" class="form-control" th:value="${orderEntity.delivery.information}"
                                   disabled readonly>
                        </div>
                    </div>

                    <div class="modal fade" id="address" tabindex="-1" aria-labelledby="exampleModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Адреса клиента</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    <table class="table">
                                        <tr>
                                            <td scope="col">Город</td>
                                            <td scope="col">Улица</td>
                                            <td scope="col">Дом</td>
                                            <td scope="col">Строение</td>
                                            <td scope="col">Подъезд</td>
                                            <td scope="col">Квартира</td>
                                            <td scope="col">Действие</td>
                                        </tr>

                                        <th:block th:each="address : ${orderEntity.client.addresses}">
                                            <tr class='clickable-row'
                                                th:data-href="@{/addresses/{id}/edit (id = ${address.id})}">
                                                <th scope="row" th:text="${address.city}">
                                                </th>
                                                <td th:text="${address.street}"></td>
                                                <td th:text="${address.house}"></td>
                                                <td th:text="${address.building}"></td>
                                                <td th:text="${address.entrance}"></td>
                                                <td th:text="${address.flat}"></td>
                                                <td>
                                                    <a class="btn btn-primary" role="button"
                                                       th:href="@{'/deliveries/changeAddress?deliveryId='+ ${orderEntity.delivery.id} + '&addressId='
                                                       + ${address.id}}">Задать</a>
                                                </td>
                                            </tr>
                                        </th:block>

                                    </table>


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <H3>Оплата</H3>
                <hr>

                <a class="btn btn-primary" role="button"
                   th:href="@{${url} + ${orderEntity.id} + '/addPayment'}">Добавить</a>

                <th:block th:each="payment : ${orderEntity.payments}">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <label><b>Тип</b></label>
                                    <input type="text" class="form-control" th:value="${payment.type?.name}" disabled
                                           readonly>
                                </div>
                                <div class="col">
                                    <label><b>Статус</b></label>
                                    <input type="text" class="form-control" th:value="${payment.status?.name}" disabled
                                           readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label><b>Время оплаты</b></label>
                                    <input type="datetime-local" class="form-control" th:value="${payment.time}"
                                           disabled readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label><b>Сумма</b></label>
                                    <input type="text" class="form-control" th:value="${payment.sum}" disabled readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>

            </div>

            <button type="submit" name="save" class="btn btn-primary">Сохранить</button>
            <div th:if="${orderEntity.id != null}">
                <button type="submit" name="remove" class="btn btn-primary">Удалить</button>
            </div>
        </form>

    </div>
    <div class="col-auto" th:if="${orderEntity.id != null}">
        <h3>События</h3>
        <a class="btn btn-primary" role="button"
           th:href="@{'/orders/events/auto/create?orderId='+ ${orderEntity.id}}">Добавить</a>

        <th:block th:each="event : ${orderEntity.events}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{'/settings/management/users/'+ ${event.author?.id} + '/edit'}"
                                              th:text="${event.author?.login}"></a></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${event.time}"></h6>
                    <p class="card-text" th:text="${event.content}"></p>
                    <a th:href="@{'/orders/events/'+ ${event.id} + '/edit'}">Редактировать</a>
                </div>
            </div>
            <br>
        </th:block>
        <hr>

        <h3>Журнал звонков</h3>
        <th:block th:each="call : ${orderEntity.calls}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{'/settings/management/users/'+ ${call.author?.id} + '/edit'}"
                                              th:text="${call.author?.login}"></a></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${call.time}"></h6>
                    <p class="card-text" th:text="@{'Входящий:' + ${call.income}}"></p>
                    <p class="card-text" th:text="@{'Номер:' + ${call.number}}"></p>
                </div>
            </div>
            <br>
        </th:block>
        <hr>

        <h3>Расходы</h3>
        <a class="btn btn-primary" role="button"
           th:href="@{'/costs/create/'+ ${orderEntity.id}}">Новый</a>
        <th:block th:each="cost : ${orderEntity.costs}">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{'/costs/'+ ${cost.id} + '/edit'}"
                                              th:text="${cost.article?.name}"></a></h5>

                    <h6 class="card-subtitle mb-2 text-muted" th:if="${cost.endPeriod==null}"
                        th:text="${cost.startPeriod}"></h6>
                    <h6 class="card-subtitle mb-2 text-muted" th:if="${cost.endPeriod!=null}"
                        th:text="@{${cost.startPeriod} + ' ' + ${cost.endPeriod}}"></h6>
                    <p class="card-text" th:text="@{'Сумма:' + ${cost.sum}}"></p>
                    <p class="card-text" th:text="@{'Комментарий:' + ${cost.comment}}"></p>
                </div>
            </div>
            <b th:text="'Итого расход: ' + ${#aggregates.sum(orderEntity.costs.![sum])}"></b>
            <br>
        </th:block>
        <hr>

    </div>
</div>