
<a th:href="@{/orders/create}">
    <button type="button" class="btn btn-primary">Новый заказ</button>
</a>
<a href="/deliveries">
    <button type="button" class="btn btn-primary">Доставки</button>
</a>
<a href="/costs">
    <button type="button" class="btn btn-primary">Финансы</button>
</a>
<a href="/analytics">
    <button type="button" class="btn btn-primary">Аналитика</button>
</a>

<div th:insert="orders/filter"></div>

<table class="table">
    <tr>
        <td scope="col">Номер</td>
        <td scope="col">Время</td>
        <td scope="col">Статус</td>
        <td scope="col">Менеджер</td>
        <td scope="col">Клиент</td>
        <td scope="col">Сумма</td>
    </tr>

    <th:block th:each="object : ${objects}">
        <tr class='clickable-row' th:data-href="@{/orders/{id}/edit (id = ${object.id})}">
            <th scope="row">
                <a th:text="${object.id}">
                </a>
            </th>
            <td th:text="${object.time}"></td>
            <td th:text="${object.statusName}"></td>
            <td th:text="${object.employeeName}"></td>
            <td th:text="${object.clientName}"></td>
            <td th:text="${object.sum}"></td>
        </tr>
    </th:block>
</table>