
<a th:href="@{/orders/create}">
    <button type="button" class="btn btn-primary">Новый заказ</button>
</a>

<div th:insert="orders/filter"></div>

<table class="table">
    <tr>
        <td scope="col">Номер</td>
        <td scope="col">Время</td>
        <td scope="col">Статус</td>
        <td scope="col">Менеджер</td>
        <td scope="col">Клиент</td>
    </tr>

    <th:block th:each="object : ${objects}">
        <tr class='clickable-row' th:data-href="@{/orders/{id}/edit (id = ${object.id})}">
            <th scope="row">
                <a th:text="${object.id}">
                </a>
            </th>
            <td th:text="${object.time}"></td>
            <td th:text="${object.status?.name}"></td>
            <td th:text="${object.employee?.login}"></td>
            <td th:text="@{${object.client?.name} + ' '+ ${object.client?.lastname}}"></td>
        </tr>
    </th:block>
</table>