<form th:action="@{/settings/management/{id} (id = ${user.id})}" th:object="${user}" method="post">
    <div class="form-group">
        <label for="login"><b>Login</b></label>
        <input type="text" name="login" id="login" required th:value="${user.login}">

        <label for="lastname"><b>Фамилия</b></label>
        <input type="text" name="lastname" id="lastname" required th:value="${user.lastname}">

        <label for="firstname"><b>Имя</b></label>
        <input type="text" name="firstname" id="firstname" required th:value="${user.firstname}">
        <label for="approved"><b>Подтвержден</b></label>
        <input type="checkbox" name="approved" id="approved" th:checked="${user.approved}" />

        <select name="role_id" >
            <option th:value="null">Выберете роль</option>
            <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
        </select>

        <hr>
        <input type="submit" name="action" value="Сохранить" />
    </div>
</form>
<a th:href="@{/settings/management/remove/{id} (id = ${user.id})}">Удалить</a>
