<h2>Сотрудники</h2>
<table class="table">
    <tr>
        <td scope="col">Идентификатор</td>
        <td scope="col">Имя пользователя</td>
        <td scope="col">Имя</td>
        <td scope="col">Фамилия</td>
        <td scope="col">Подтвержден</td>
        <td scope="col">Роль</td>
    </tr>

    <th:block th:each="user : ${users}">
        <tr>
            <th scope="row">
                <a th:href="@{/settings/management/{id} (id = ${user.id})}" th:text="${user.id}">
                </a>
            </th>
            <td th:text="${user.login}"></td>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.approved}"></td>
            <td th:text="${user.role?.name}"></td>
        </tr>
    </th:block>
</table>

<h2>Роли</h2>
<a th:href="@{/settings/management/roles/create}">
    Создать роль
</a>
<table class="table">
    <tr>
        <td scope="col">Идентификатор</td>
        <td scope="col">Наименование</td>
        <td scope="col">Задачи</td>
        <td scope="col">Клиенты</td>
        <td scope="col">Заказы</td>
    </tr>

    <th:block th:each="role : ${roles}">
        <tr>
            <td scope="row" th:text="${role.id}">
            </td>
            <td th:text="${role.name}">
            </td>
            <td>
                <a th:href="@{/settings/management/roles/tasks/{id} (id = ${role.id})}" th:text="${role.tasks}">
                </a>
            </td>
            <td>
                <a th:href="@{/settings/management/roles/clients/{id} (id = ${role.id})}" th:text="${role.clients}">
                </a>
            </td>
            <td >
                <a th:href="@{/settings/management/roles/orders/{id} (id = ${role.id})}" th:text="${role.orders}">
                </a>
            </td>
          </tr>
    </th:block>
</table>