<div>
    <form th:attr="action=${object.id == null} ? ${url} + 'create' :  ${url} + ${object.id} +  '/update'"
          th:object="${costEntity}" method="post">

        <div th:insert="errors"></div>

        <div class="col">
            <div class="form-group">
                <label for="article"><b>Статья расходов</b></label>
                <select class="form-control" id="article" th:field="*{article}">
                    <option th:value="null">Не задана</option>
                    <option th:each="article : ${articles}"
                            th:value="${{article}}" th:text="${article.name}">
                    </option>
                </select>
            </div>
            <div class="form-group">
                <label><b>Период</b></label>
                <input type="date" class="form-control" th:field="*{startPeriod}"/>
                -
                <input type="date" class="form-control" th:field="*{endPeriod}"/>
            </div>

            <div class="form-group">
                <label for="comment"><b></b>Комментарий</b></label>
                <input type="text" class="form-control" th:field="*{comment}"/>
            </div>

        </div>
        <div class="col">
            <div class="form-group">
                <label for="sum"><b>Сумма</b></label>
                <input type="number" class="form-control" th:field="*{sum}">
            </div>

            <div class="form-group">
                <label for="employee"><b>Сотрудник</b></label>
                <select name="employee" id="employee" class="form-control">
                    <option th:value="null">Не задан</option>
                    <option th:each="employee : ${employees}" th:value="${employee.id}"
                            th:text="${employee.fullName()}"
                            th:selected="${object.employee?.id == employee.id}"></option>
                </select>
            </div>

            <div class="form-group">
                <label for="order"><b>Связанный заказ</b></label>
                <select class="form-control" id="order" th:field="*{order}">
                    <option th:value="null">Не задан</option>
                    <option th:each="o : ${orders}"
                            th:value="${{o}}" th:text="${o.id}">
                    </option>
                </select>
            </div>

        </div>

        <div class="row row-cols-auto">
            <input type="submit" name="action" class="btn btn-primary" value="Сохранить"/>
            <div th:if="${object.id != null}">
                <a class="btn btn-outline-danger" role="button" th:href="@{${url} + ${object.id} +  '/remove'}">Удалить</a>
            </div>
        </div>

    </form>
</div>

