<div>

    <a class="btn btn-primary" role="button" th:href="@{${url} + 'create'}">
        <button type="button" class="btn btn-primary">Создать категорию</button>
    </a>
    <a class="btn btn-primary" role="button" th:href="@{/settings/goods}">
        <button type="button" class="btn btn-primary">К товарам</button>
    </a>
    <table class="table">
        <tr>
            <td scope="col">Идентификатор</td>
            <td scope="col">Родительская категория</td>
            <td scope="col">Название</td>
        </tr>

        <th:block th:each="object : ${objects}">
            <tr class='clickable-row' th:data-href="@{${url} + ${object.id} +'/edit'}">
                <th scope="row">
                    <a th:text="${object.id}">
                    </a>
                </th>
                <td th:text="${object.parentName}"></td>
                <td th:text="${object.name}"></td>
            </tr>
        </th:block>
    </table>
</div>