<div>
    <form th:attr="action=${object.id == null} ? ${url} + 'create' :  ${url} + ${object.id} +  '/update'"
          th:object="${object}" method="post">

        <input type="hidden" th:field="*{id}"/>

        <label for="name"><b>Имя</b></label>
        <input type="text" class="form-control" name="name" id="name" required th:value="${object.name}">
        <label for="phone"><b>Номер телефона</b></label>
        <input type="tel" class="form-control" name="phone" id="phone" th:value="${object.phone}">

        <label for="email"><b>Эл. почта</b></label>
        <input type="email" class="form-control" name="email" id="email" th:value="${object.email}">

        <div class="form-group">
            <label for="active"><b>Активность</b></label>
            <input type="checkbox" th:field="*{active}"/>
        </div>


        <label for="channel"><b>Канал продаж</b></label>
        <select name="channel" id="channel" class="form-control">
            <option th:value="null">Не задан</option>
            <option th:each="channel : ${channels}" th:value="${channel.id}"
                    th:text="${channel.name}" th:selected="${object.channel?.id == channel.id}"></option>
        </select>

        <hr>
        <button type="submit" name="action" class="btn btn-primary">Сохранить</button>
        <div th:if="${object.id != null}">
            <a class="btn btn-outline-danger" role="button" th:href="@{${url} + ${object.id} +  '/remove'}">Удалить</a>
            <a class="btn btn-outline-danger" role="button" th:href="@{'/clients/create?from=' + ${object.id}}">Преобразовать</a>
        </div>
    </form>
</div>