<div class="row row-cols-auto">
    <a th:href="@{/clients/create}" class="btn btn-primary">Создать клиента</a>
    <a th:href="@{/potential}" class="btn btn-primary">К потенциальным</a>
    <a th:href="@{/addresses}" class="btn btn-primary">Адреса</a>
</div>

<table class="table">
    <tr>
        <td scope="col">Идентификатор</td>
        <td scope="col">Имя пользователя</td>
        <td scope="col">Дата рождения</td>
    </tr>

    <th:block th:each="object : ${objects}">
        <tr class='clickable-row' th:data-href="@{/clients/{id}/edit (id = ${object.id})}">
            <th scope="row">
                <a th:text="${object.id}">
                </a>
            </th>
            <td th:text="${object.fullName()}"></td>
            <td th:text="${object.birthday}"></td>
        </tr>
    </th:block>
</table>