<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Home page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
</head>

<body>
    <div th:insert="sidebar"></div>
    <div class="content">
        <div class="header">
            <h1 th:text="${title}">My Page</h1>
            <div class="account">
                <td th:text="${login}">login here</td>
                <a th:href="@{/logout}">Выход</a>
            </div>
        </div>

        <div class="container">
            <th:block  th:insert="${content != null} ? ${content} : welcome">

            </th:block>
        </div>
    </div>

</body>

</html>