<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title th:text="${title}">NextCRM</title>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/js/logic.js}"></script>
</head>

<body>
<div th:insert="sidebar"></div>
<div class="content">
    <div class="header">
        <h1 th:text="${title}"></h1>
        <div class="account">
            <td th:text="${login}"></td>
            <a class="btn btn-primary" role="button" th:href="@{/logout}">Выход</a>
        </div>
    </div>

    <div class="container">
        <th:block th:insert="${content != null} ? ${content} : welcome">

        </th:block>
    </div>
</div>
</body>
</html>