<ul class="list-group">
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/orders}">Заказы - статусы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/tasks}">Задачи - статусы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/appeals}">Обращения - статусы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/deliveries}">Доставка - статусы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/delivery}">Доставка -типы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/payments}">Оплата - статусы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/payment/types}">Оплата - типы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/channels}">Каналы продаж</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/costs/articles}">Статьи расходов</a>
    </li>
</ul>