<ul class="list-group">
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/orders}">Заказы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/tasks}">Задачи</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/appeals}">Обращения</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/deliveries}">Доставка</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses/payments}">Оплата</a>
    </li>
</ul>