<ul class="list-group">
    <li class="list-group-item">
        <a th:href="@{/settings/management/users}">Сотрудники</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/management/roles}">Роли</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses}">Справочники</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/goods}">Товары</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/company}">Общие настройки</a>
    </li>


</ul>