<ul class="list-group">
    <li class="list-group-item">
        <a th:href="@{/settings/management/users}">Сотрудники</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/management/roles}">Роли</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/statuses}">Статусы</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/goods}">Товары</a>
    </li>
    <li class="list-group-item">
        <a th:href="@{/settings/channels}">Каналы продаж</a>
    </li>
</ul>