<div>
    <form th:attr="action=${object.id == null} ? ${url} + 'createPotential' :  ${url} + ${object.id} +  '/update'"
          th:object="${object}" method="post">

        <input type="hidden" name="id" th:value="${object.id == null} ? 0 : ${object.id}" />

        <div class="row">

            <div class="col">
                <div class="form-group">
                    <label for="status"><b>Статус</b></label>
                    <select name="status" id="status" class="form-control">
                        <option th:value="null">Не задан</option>
                        <option th:each="status : ${statuses}" th:value="${status.id}"
                                th:text="${status.name}" th:selected="${object.status?.id == status.id}"></option>
                    </select>
                </div>
            </div>

            <div class="col">
                <div class="form-group">
                    <label for="channel"><b>Канал продаж</b></label>
                    <select name="channel" id="channel" class="form-control">
                        <option th:value="null">Не задан</option>
                        <option th:each="channel : ${channels}" th:value="${channel.id}"
                                th:text="${channel.name}" th:selected="${object.channel?.id == channel.id}"></option>
                    </select>
                </div>

            </div>

        </div>


        <div class="form-group">
            <label for="subject"><b>Предмет обращения</b></label>
            <input type="text" class="form-control" name="subject" id="subject" required th:value="${object.subject}">
        </div>

        <div class="form-group">
            <label for="content"><b>Содержание</b></label>
            <input type="text" class="form-control" name="content" id="content" required th:value="${object.content}">
        </div>

        <div th:if="${object.id == null}">
            <div class="form-group">
                <label for="appeal" ><b>Клиент</b></label>
                <select name="appeal" id="appeal" class="form-control">
                    <option th:value="null">Отсутствует</option>
                    <option th:each="client : ${clients}" th:value="${client.id}"
                            th:text="@{${client.name} + ' ' + ${client.lastname}}" th:selected="${object.client?.id == client.id}"></option>
                </select>
            </div>
            <br>
            <p>Если клиент не выбран, будет создан потенциальный из формы ниже</p>

            <div class="form-group">
                <label for="name" ><b>Имя</b></label>
                <input type="text" class="form-control" name="potentialClient.name" id="name" required>
            </div>

            <div class="form-group">
                <label for="phone"><b>Номер телефона</b></label>
                <input type="tel" class="form-control" name="potentialClient.phone" id="phone">
            </div>

            <div class="form-group">
                <label for="email"><b>Эл. почта</b></label>
                <input type="email" class="form-control" name="potentialClient.email" id="email">
            </div>

        </div>
        <div th:if="${object.client != null}">
            <p th:text="@{'Обращение поступило от клиента ' + ${object.client.name} + ' ' + ${object.client.lastname}}"></p>
            <a class="btn btn-primary" role="button" th:href="@{'/clients/' + ${object.client.id} +  '/edit'}">Перейти к клиенту</a>
        </div>

        <div th:if="${object.potentialClient != null}">
            <p th:text="@{'Обращение поступило от потенциального клиента ' + ${object.potentialClient.name}}"></p>
            <a class="btn btn-primary" role="button" th:href="@{'/potential/' + ${object.potentialClient.id} +  '/edit'}">Перейти к потенциальному клиенту</a>
        </div>

        <button type="submit" name="action" class="btn btn-primary">Сохранить</button>
    </form>
    <div th:if="${object.id != null}">
        <a class="btn btn-primary" role="button" th:href="@{${url} + ${object.id} +  '/remove'}">Удалить обращение</a>
    </div>


</div>